{
{% for type, items in composer_auth.items() %}
"{{type}}": {
  {% for url, item in items.items() %}
    "{{ url }}": {
        "username": "{{ item.username }}",
        "password": "{{ item.password }}"
        }{% if not loop.last %},{% endif %}
    {% endfor %}
  }
{% endfor %}
}