{
{% for type, items in composer_auth.items() %}
"{{type}}": {
  {% for item in items %}
    "{{ item.path }}": {
        "username": "{{ item.username }}",
        "password": "{{ item.password }}"
        }{% if not loop.last %},{% endif %}
    {% endfor %}
  }
{% endfor %}
}